@model OnlyFriends.Models.ApplicationUser

@{
    ViewBag.Title = "Edit profile";
}

<div class="card">
    @using (Html.BeginForm(actionName: "Edit", controllerName: "Users", routeValues: new { id = Model.Id }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Put)
        <br />
        <div class="form">
            @if (ViewBag.CurrentUser.Item1 == Model.Id)
            {
                <i class="fa fa-user"></i>
                <strong>@Html.Label("UserName", "Nume utilizator")</strong>
                <br />
                @Html.TextBox("Username", Model.UserName, new { @class = "form__input" })
                <br />
                <br />
                <i class="fa fa-envelope"></i>
                <strong>@Html.Label("Email", "Email utilizator")</strong>
                <br />
                @Html.TextBox("Email", Model.Email, new { @class = "form__input" })
                <br />
                <br />
                <i class="fa fa-phone"></i>
                <strong>@Html.Label("PhoneNumber", "Numar telefon")</strong>
                <br />
                @Html.TextBox("PhoneNumber", Model.PhoneNumber, new { @class = "form__input" })
                <br />
                <strong>@Html.Label("IsPrivate", "Make private:")</strong>
                @Html.CheckBox("IsPrivate", Model.IsPrivate)
                <br />


                if (ViewBag.CurrentUser.Item2)
                {

                    <i class="glyphicon glyphicon-th-list"></i>
                    <strong>@Html.Label("newRole", "Selectati rolul")</strong>
                    @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.userRole), null, new { @class = "form__input" })
                    <br />
                    <br />
                }
                else
                {
                    @Html.Hidden("newRole", (string)ViewBag.userRole)
                }
            }

            else if (ViewBag.CurrentUser.Item2)
            {

                @Html.HiddenFor(m => m.UserName)
                @Html.HiddenFor(m => m.Email)
                @Html.HiddenFor(m => m.PhoneNumber)
                @Html.HiddenFor(m => m.IsPrivate)


                <i class="glyphicon glyphicon-th-list"></i>
                <strong>@Html.Label("newRole", "Selectati rolul")</strong>
                @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.userRole), null, new { @class = "form__input" })
                <br />
                <br />

            }
            <button class="btn btn-lg btn-block btn-success" type="submit">Edit</button>

        </div>
    }
</div>

