@model OnlyFriends.Models.ApplicationUser

@using (Html.BeginForm(actionName: "Edit", controllerName: "Users", routeValues: new { id = Model.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    if (ViewBag.CurrentUser.Item1 == Model.Id)
    {
        <i class="glyphicon glyphicon-user"></i>
        @Html.Label("UserName", "Nume utilizator", new { @class = "" })
        <br />
        @Html.EditorFor(m => m.UserName)
        <br />
        <br />
        <i class="glyphicon glyphicon-envelope"></i>
        @Html.Label("Email", "Email utilizator", new { @class = "" })
        <br />
        @Html.EditorFor(m => m.Email)
        <br />
        <br />
        <i class="glyphicon glyphicon-phone"></i>
        @Html.Label("PhoneNumber", "Numar telefon")
        <br />
        @Html.EditorFor(m => m.PhoneNumber)
        <br />
        @Html.Label("IsPrivate", "Make private:");
        @Html.CheckBox("IsPrivate", Model.IsPrivate);
        <br />
        @Html.Hidden("newRole", (string)ViewBag.userRole);
    }

    if (ViewBag.CurrentUser.Item2)
    {
        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.Email)
        @Html.HiddenFor(m => m.PhoneNumber)
        @Html.HiddenFor(m => m.IsPrivate)
        <i class="glyphicon glyphicon-th-list"></i>
        @Html.Label("newRole", "Selectati rolul")
        @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.userRole), null, new { @class = "form-control" })
        <br />
        <button class="btn btn-sm btn-success" type="submit">Edit</button>
    }

}