@{
 ViewBag.Title = "Users";
}

<h1>@TempData["ErrorMsg"]</h1>

<!-- Search bar -->
<br />
<div class="navbar navbar-light bg-light justify-content-between">
    @if (ViewBag.SearchString != "") 
    {
        <h3 style="font-weight: 700">Search result for "@ViewBag.SearchString"  <a href="/Users" style="text-decoration: none; color: #000000";"><i class="fa fa-times" style="font-size: 70%;"></i></a></h3>
    }
    else 
    {
        <h3 style="font-weight: 700;">@ViewBag.Title</h3>
    }
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search user" aria-label="Search" value=@ViewBag.SearchString >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<br />

@foreach (OnlyFriends.Models.ApplicationUser user in ViewBag.UsersList)
{
    if (!(ViewBag.CurrentUser.Item1 == null && user.IsPrivate))
    {
        <div class="card" style="padding: 5px">
            <div class="panel-heading"><i class="fa fa-user"></i> @user.UserName</div>
            <div class="panel-body">
                <i class="fa fa-envelope"></i>  <span class="label label-default">@user.Email</span>
                <br />
                <br />
                @if (@user.PhoneNumber != null)
                {
                    <i class="fa fa-phone"></i>@:Telefon utilizator:<span class="label label-default">@user.PhoneNumber</span>
                }
                @*@if (user.MyUserRelations.ToList().Contains(ViewBag.CurrentUser.Item1))
                {
                    switch (user.MyUserRelations.ToList().Find(ViewBag.CurrentUser.Item1).Status)
                    {
                        case "Friend":<strong>Friend</strong> break;
                        case "Follows": <strong>Follow</strong> break;
                        case "IsFollowed": <strong>Your Follower</strong> break;
                        case "Blocked": <strong>Blocked</strong> break;
                        case "IsBlocked": <strong>Blocked you</strong> break;
                        default: break;
                    }
                }*@
                </div>
            <div class="panel-footer">
                <a class="btn btn-sm btn-success" href="/Users/Edit/@user.Id"> Editare utilizator</a>
                <a class="btn btn-sm btn-success" href="/Users/Show/@user.Id"> Vizualizare utilizator</a>
            </div>
        </div>


    }
                }