@model OnlyFriends.Models.ApplicationUser
@{
    ViewBag.Title = "MyPage";
    var nrFollowers = Model.MyUserRelations.Where(ur => ur.Status == "IsFollowed").Count();
}



<div class="row" style="margin: 20px;">

    <div class="col-md-8">
        <h2 style="font-weight:700;">Welcome back!</h2>
        <div>
            <br />
            <h3><i class="fa fa-user"></i> <strong>Username: </strong><span class="label label-default">@Model.UserName</span></h3>

            <br />
            <i class="fa fa-envelope"></i> <strong>Email: </strong>  <span class="label label-default">@Model.Email</span>
            <br />
            <br />
            @if (Model.PhoneNumber != null)
            {
                <i class="fa fa-phone"></i> <strong>PhoneNumber: </strong><span class="label label-default">@Model.PhoneNumber</span>
            }
        </div>
        <br />
        @if (nrFollowers != 0)
        {
            <i class="fa fa-users"></i> <strong>Followers: @nrFollowers</strong>
            <br />
            <br />
        }
        <a class="btn btn-warning" href="/Users/Edit/@Model.Id">Edit</a>
        <!-- go to requests-->

        <a class="btn btn-primary" href="/Users/ShowRelations/@Model.Id">Your Relations</a>

    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/MyPage.svg" style="width: 80%" />
    </div>

</div>


<div class="card">
    @using (Html.BeginForm(actionName: "New", controllerName: "Posts"))
    {
        <h2>Post something on your feed!</h2>
        <div class="form">
            <strong> @Html.Label("Title", "Title:")</strong>
            <br />
            @Html.TextBox("Title", "", new { @class = "form__input" })
            @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
            <br />
            <br />
            <strong>@Html.Label("Content", "Post's Content:")</strong>
            <br />
            @Html.TextArea("Content", null, new { @class = "form__input" })
            @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
            <br />
            @Html.Hidden("GroupId", null)
            @{
                TempData["action"] = "Show";
                TempData["controller"] = "Users";
                TempData["id"] = (string)Model.Id;
            }
            <button class="btn btn-success btn-lg btn-block" type="submit">Add Post on your Feed</button>
            
        </div>
    }
</div>





<!-- Show my posts -->
@foreach (var post in Model.Posts.OrderByDescending(m => m.Date))
{
    if (post.GroupId == null)
    {
    <div class="card" style="margin-top: 1em">
        <div class="card-body">
            @Html.Partial("PostInfo", post)

            <div class="panel-footer">
                <a class=" btn btn-success btn-lg btn-block" href="/Posts/Show/@post.PostId">View post</a>
            </div>
        </div>
    </div>
    
    }
}