@model OnlyFriends.Models.ApplicationUser
@{
    ViewBag.Title = "Show";
    ViewBag.BodyClass = "FriendRequest";

    TempData["action"] = "ShowRelations";
    TempData["controller"] = "Users";
    TempData["id"] = (string)Model.Id;
}



<a class="btn btn-primary " href="/Users/Show/@Model.Id" style="margin: 20px; ">Go back to your page</a>
    
<div class="row" style="margin:0">
    <div class="col-md-4">
        <div class="card" style="margin: 0">
            <h3>Your relations</h3>
            <hr />

            @foreach (var rel in Model.MyUserRelations)
            {


                <div class="row">
                    <strong class="col-md-10">@Html.ActionLink(rel.User2.UserName, "Show", "Users", new { id = rel.User2Id }, null) <span>- @rel.Status</span></strong>

                    <div class="col-md-2">
                        @if (rel.Status != "IsBlocked")
                        {
                            using (Html.BeginForm(actionName: "Delete", controllerName: "UserRelations", method: FormMethod.Post, routeValues: new { User1Id = rel.User1Id, User2Id = rel.User2Id }))
                            {
                                @Html.HttpMethodOverride(HttpVerbs.Delete);
                                <button class="fa fa-trash pull-right " style="border: none; background: transparent; " type="submit"></button>
                            }
                        }

                    </div>
                </div>
                <br />
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="margin: 0">
            <h3>Recieved Requests</h3>
            <hr />

            @foreach (var req in Model.ReceivedFriendRequests)
            {


                <div class="row">
                    <strong class="col-md-8">@Html.ActionLink(req.Sender.UserName, "Show", "Users", new { id = req.SenderId }, null) <span class="show-date">@req.Date.ToString("dd/MM/yyyy HH:mm:ss")</span></strong>
                    <div class="col-md-4 pull-right">
                        <div>
                            @using (Html.BeginForm(actionName: "Delete", controllerName: "FriendRequests", method: FormMethod.Post, routeValues: new { SenderId = req.SenderId, RecieverId = req.RecieverId }))
                            {
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                <button class="fa fa-trash pull-right" style="border: none; background: transparent; " type="submit"></button>
                            }
                        </div>
                        <div>
                            @using (Html.BeginForm(actionName: "Accept", controllerName: "FriendRequests", method: FormMethod.Post, routeValues: new { SenderId = req.SenderId, RecieverId = req.RecieverId }))
                            {
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                <button class="fa fa-check pull-right" style="border: none; background: transparent;" type="submit"></button>
                            }
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="margin: 0">
            <h3>Sent Requests</h3>
            <hr />
            @foreach (var req in Model.SentFriendRequests)
            {


                <div class="row">
                    <strong class="col-md-8">@Html.ActionLink(req.Reciever.UserName, "Show", "Users", new { id = req.RecieverId }, null) <span class="show-date">@req.Date.ToString("dd/MM/yyyy HH:mm:ss")</span></strong>
                    <div class="col-md-4">
                        <div class="pull-right">
                            @using (Html.BeginForm(actionName: "Delete", controllerName: "FriendRequests", method: FormMethod.Post, routeValues: new { SenderId = req.SenderId, RecieverId = req.RecieverId }))
                            {
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                <button class="fa fa-trash" style="border: none; background: transparent; " type="submit"></button>
                            }
                        </div>
                    </div>
                </div>
                <br />
            }

        </div>
    </div>
</div>