@model OnlyFriends.Models.Group

@{
    ViewBag.Title = "Edit";
}


<div class="card">
    @using (Html.BeginForm(actionName: "Edit", controllerName: "Groups"))
    {
        @Html.HttpMethodOverride(HttpVerbs.Put)

        <div class="form">
            <strong> @Html.Label("Title", "Group Title")</strong>
            <br />
            @Html.TextBox("Title",Model.Title, new { @class = "form__input " })
            @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
            <br />
            <br />
            <strong>@Html.Label("Description", "Group description:")</strong>
            <br />
             @Html.TextArea("Description", Model.Description, new { @class = "form__input"})
            @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
            <br />
            @Html.Label("IsPrivate", "Make private:")
            @Html.CheckBox("IsPrivate", Model.IsPrivate)
            <br />
            <br />
            @Html.HiddenFor(m => m.Date)


            <button class="btn btn-sm btn-success" type="submit">Edit group</button>
        </div>
    }
</div>

