@model OnlyFriends.Models.Group

@{
    ViewBag.Title = "Edit";
}


<h2>Edit post</h2>
@using (Html.BeginForm(actionName: "Edit", controllerName: "Groups"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)


    @Html.Label("Title", "Group Title")
    <br />
    @Html.EditorFor(m => m.Title, new { @class = "form-control" })
    @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Description", "Group description:")
    <br />
    @Html.TextArea("Description", new { @class = "form-control" })
    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
    <br />
    @Html.Label("IsPrivate", "Make private:");
    @Html.CheckBox("IsPrivate", Model.IsPrivate);
    <br />
    <br />
    @Html.HiddenFor(m => m.Date)


    <button class="btn btn-sm btn-success" type="submit">Edit group</button>

}