@model OnlyFriends.Models.Group

<h2>Add a new post</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Groups"))
{

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("Title", "Title")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
    <br />
    @Html.Label("Description", "Description")
    <b r/>
    @Html.TextArea("Description", null, new { @class = "form-control" })
    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
    <br />
    <br />
    <br />

    <button class="btn btn-success block" type="submit">Add group</button>
    @Html.ActionLink("Back to groups", "Index", new { controller = "Groups" }, new { @class = "btn btn-warning block" })
}
