@model OnlyFriends.Models.Group
@{
    ViewBag.Title = "Create New Group";
}


<div class="card">
    <h2>Create a new Group!</h2>
    @using (Html.BeginForm(actionName: "New", controllerName: "Groups"))
    {

        <div class="form">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <strong> @Html.Label("Title", "Group Title")</strong>
            <br />
            @Html.TextBox("Title", "", new { @class = "form__input " })
            @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
            <br />
            <br />
            <strong>@Html.Label("Description", "Group description:")</strong>
            <br />
            @Html.TextArea("Description", Model.Description, new { @class = "form__input" })
            @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
            <br />
            @Html.Label("IsPrivate", "Make private:")
            @Html.CheckBox("IsPrivate", false)
            <br />
            <br />
            @Html.HiddenFor(m => m.Date)


            <button class="btn btn-block btn-success" type="submit">Add group</button>
        </div>
    }
</div>

