@model OnlyFriends.Models.Group
@{
    ViewBag.Title = "Show";
}

<a class="btn btn-primary " href="/Groups/Show/@Model.GroupId" style="margin: 20px; ">Go back to your group</a>

<div class="row" style="margin-top: 20px">
    <div class="col-md-5">

        <div class="card">
            <h2>Members:</h2>
            <hr />
            @foreach (var mem in Model.GroupMembers)
            {
                <div class="row">
                    <strong class="col-md-10">@Html.ActionLink(mem.User.UserName, "Show", "Users", new { id = mem.UserId }, null) </strong>

                    <div class="col-md-2">
                        @using (Html.BeginForm(actionName: "Delete", controllerName: "GroupMembers", method: FormMethod.Post, routeValues: new { UserId = mem.UserId, GroupId = mem.GroupId }))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)

                            @*TempData["action"] = "Show";
                                TempData["controller"] = "Users";
                                TempData["id"] = (string)Model.Id;*@

                            <button class="fa fa-trash pull-right " style="border: none; background: transparent; " type="submit"></button>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-7">
        @if (Model.IsPrivate)
        {
            <div class="card">
                <h2>Requests:</h2>
                <hr />
                @foreach (var gr in Model.GroupRequests)
                {
                    <div class="row">
                        <strong class="col-md-8">@Html.ActionLink(gr.User.UserName, "Show", "Users", new { id = gr.SenderId }, null) @*<span class="show-date">@gr.Date.ToString("dd/MM/yyyy HH:mm:ss")</span>*@</strong>
                        <div class="col-md-4 pull-right">
                            <div>
                                @using (Html.BeginForm(actionName: "Delete", controllerName: "GroupRequests", method: FormMethod.Post, routeValues: new { SenderId = gr.SenderId, GroupId = gr.GroupId }))
                                {
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button class="fa fa-trash pull-right" style="border: none; background: transparent; " type="submit"></button>
                                }
                            </div>
                            <div>
                                @using (Html.BeginForm(actionName: "Accept", controllerName: "GroupRequests", method: FormMethod.Post, routeValues: new { SenderId = gr.SenderId, GroupId = gr.GroupId }))
                                {
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button class="fa fa-check pull-right" style="border: none; background: transparent;" type="submit"></button>
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                }
            </div>
        }
        else
        {
            <img src="~/Content/Images/GroupMembers.svg" width=100% />
        }

    </div>
</div>