@model OnlyFriends.Models.Group


<h1>@ViewBag.Message</h1>
<h2>News</h2>




@if (!ViewBag.IsMember)
{
    if (!@Model.IsPrivate)
    {
        using (Html.BeginForm(actionName: "New", controllerName: "GroupMembers", method: FormMethod.Post))
        {
            @Html.Hidden("GroupId", (int)Model.GroupId)
            @Html.Hidden("UserId", (string)ViewBag.CurrentUser.Item1)
            <button type="submit" class="btn btn-primary">Join Group</button>
        }
    }
    else
    {
        using (Html.BeginForm(actionName: "New", controllerName: "GroupRequests", method: FormMethod.Post))
        {
            @Html.Hidden("GroupId", (int)Model.GroupId)
            @Html.Hidden("SenderId", (string)ViewBag.CurrentUser.Item1)
            <button type="submit" class="btn btn-primary">Send Request</button>
        }
    }
}
else
{
    using (Html.BeginForm(actionName: "Delete", controllerName: "GroupMembers", method: FormMethod.Post, routeValues: new { GroupId = Model.GroupId, UserId = (string)ViewBag.CurrentUser.Item1 }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        TempData["ReturnTo"] = "Groups";
        <button type="submit" class="btn btn-primary">Leave Group</button>
    }
}

@foreach (var gm in Model.GroupMembers)
{
    <span style="display: inline-block; font-size: 90%">@gm.User.Email</span>
}


@if (ViewBag.CurrentUser.Item2)
{
    using (Html.BeginForm(actionName: "Delete", controllerName: "Groups", method: FormMethod.Post, routeValues: new { id = Model.GroupId }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger pull-right" type="submit">Delete Group</button>
    }

    using (Html.BeginForm(actionName: "Edit", controllerName: "Groups", method: FormMethod.Post, routeValues: new { id = Model.GroupId }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Put)
        <button class="btn btn-primary pull-right" type="submit">Edit Group</button>
    }
}

@if (ViewBag.IsMember || ViewBag.CurrentUser.Item2)
{
    using (Html.BeginForm(actionName: "New", controllerName: "Posts"))
    {
        <div class="panel-body">
            @Html.Hidden("GroupId", Model.GroupId)
            @Html.Label("Title", "Title")
            <br />
            @Html.TextBox("Title", "", new { @class = "form-control" })
            @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
            <br />
            @Html.Label("Content", "Content")
            <br />
            @Html.TextArea("Content", "", new { @class = "form-control" })
            @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
            <br />
            <button class="btn btn-success " type="submit">Add Post</button>
        </div>
    }
}

@foreach (var post in Model.Posts)
{
    <div class="panel panel-default">

        @Html.Partial("PostInfo", post)

        <div class="panel-footer">
            <a class=" btn btn-sm btn btn-success" href="/Posts/Show/@post.PostId">View post</a>
        </div>

    </div>
}






