<div class="container">
    <!--Check if the comment is liked by the current user-->
    @{ bool IsLikedByCurrentUser = false; }
    @foreach (var cl in Model.CommentLikes)
    {
        if (cl.UserId == ViewBag.CurrentUser.Item1) 
        { 
            IsLikedByCurrentUser = true;
            break;
        }
    }
    <div class="media mb-4">
        <div class="media-body">
            <div>
                <i class="glyphicon glyphicon-user"></i> <h5 class="mt-0">@Model.User.UserName</h5>
                <p>@Model.Content</p>
                <small class="pull-right show-date">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss")</small>
            </div>
            <!--Like button-->
            <div style="display: inline-block; float: left; margin-right: 15px">
                @if (!IsLikedByCurrentUser)
                {
                    using (Html.BeginForm(actionName: "New", controllerName: "CommentLikes", method: FormMethod.Post))
                    {
                        @Html.Hidden("CommentId", (int)Model.CommentId)
                        @Html.Hidden("UserId", (string)ViewBag.CurrentUser.Item1)
                        <button type="submit" class="fa fa-thumbs-o-up" style="border: none; background: transparent"></button>
                        <span>@Model.LikeCount</span>
                    }
                }
                else
                {
                    using (Html.BeginForm(actionName: "Delete", controllerName: "CommentLikes", method: FormMethod.Post, routeValues: new { CommentId = Model.CommentId, UserId = (string)ViewBag.CurrentUser.Item1 }))
                    {
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button type="submit" class="fa fa-thumbs-o-up" style="color: blue; border: none; background: transparent"></button>
                        <span>@Model.LikeCount</span>
                    }
                }
            </div>
            <!--Delete/Edit Buttons (requires permission)-->
            @if (ViewBag.CurrentUser.Item2 || ViewBag.CurrentUser.Item1 == Model.UserId)
            {
                <div style="display: inline-block; float : left; margin-right: 15px">
                    <button href="/Comments/Edit/@Model.CommentId" style="border: none; background: transparent" type="submit"><i class="fa fa-pencil"></i></button>
                </div>
                <div style="display: inline-block; float : left">
                    <form method="post" action="/Comments/Delete/@Model.CommentId">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"><i class="fa fa-trash"></i></button>
                    </form>
                </div>
            }
            <!--Like count-->
            @if (Model.LikeCount > 0)
            {
                
                <div>
                    <span style="display: inline-block; font-weight: bold; font-size: 90%">Liked By:</span>
                    @foreach (var pl in Model.CommentLikes)
                    {
                        <span style="display: inline-block; font-size: 90%">@pl.User.UserName</span>
                    }
                </div>
            }
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<hr />
