@model OnlyFriends.Models.Post

@{
    ViewBag.Title = "Show";
}
<br />
<a href="/Posts/Index">Back to Posts</a>
<br />
<a class="btn btn-info" href="/Posts/New">Add post</a>
<br />
<div class="panel panel-default">

    @Html.Partial("PostInfo", Model)
    @if (ViewBag.CurrentUser.Item2)
    {
        <div class="panel-footer">

            <a class="btn btn-success pull-left" href="/Posts/Edit/@Model.PostId">Edit post</a>
            @using (Html.BeginForm(actionName: "Delete", controllerName: "Posts", method: FormMethod.Post, routeValues: new { id = Model.PostId }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger pull-right" type="submit">Delete post</button>
            }

            <div class="clearfix"></div>
        </div>
    }

    @*Likes*@
    @if (!ViewBag.IsLikedByCurrentUser)
    {
        <form method="post" action="/PostLikes/New">
            <input type="hidden" name="PostId" value="@Model.PostId" />
            <input type="hidden" name="UserId" value="@ViewBag.CurrentUser.Item1" />
            <button type="submit"> <span class='glyphicon glyphicon-thumbs-up'></span> like </button>
        </form>
    }
    else
    {
        <form method="post" action="/PostLikes/Delete">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <input type="hidden" name="PostId" value="@Model.PostId" />
            <input type="hidden" name="UserId" value="@ViewBag.CurrentUser.Item1" />
            <button type="submit" style="color: blue"> <span class='glyphicon glyphicon-thumbs-up'></span> like </button>
        </form>
    }
    <span>@Model.LikeCount</span>
    @foreach (var em in ViewBag.UsersWhoLiked)
    {
        <span>@em</span>
    }

    <span>@ViewBag.IsLikedByCurrentUser</span>
</div>

<!--This is the comments section-->
<br />

@foreach (var comm in Model.Comments)
{
    @Html.Partial("CommentInfo", comm);
}


<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel">
                <form method="post" action="/Comments/New">
                    <div class="panel-body">
                        <input type="hidden" name="PostId" value="@Model.PostId" />
                        <label>Enter your comment</label>
                        <br />
                        <textarea class="form-control" name="Content"></textarea>
                        <br />
                        <button class="btn btn-success " type="submit">Add comment</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>







