@model OnlyFriends.Models.Post

@{
    ViewBag.Title = "Show";
}

<br />
@Html.ActionLink("Back to posts", "Index", new { controller = "Posts" }, new { @class = "btn btn-warning block" })
@Html.ActionLink("Add post", "New", new { controller = "Posts" }, new { @class = "btn btn-info block" })
<br />
<div class="panel panel-default">

    @Html.Partial("PostInfo", Model)
    @if (ViewBag.CurrentUser.Item2)
    {
        <div class="panel-footer">

            <a class="btn btn-success pull-left" href="/Posts/Edit/@Model.PostId">Edit post</a>
            @using (Html.BeginForm(actionName: "Delete", controllerName: "Posts", method: FormMethod.Post, routeValues: new { id = Model.PostId }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger pull-right" type="submit">Delete post</button>
            }

            <div class="clearfix"></div>
        </div>
    }

    <!--Like section-->
    @if (!ViewBag.IsLikedByCurrentUser)
    {
        using (Html.BeginForm(actionName: "New", controllerName: "PostLikes", method: FormMethod.Post))
        {
            @Html.Hidden("PostId", Model.PostId)
            @Html.Hidden("UserId", (string)ViewBag.CurrentUser.Item1)
            <button type="submit"><span class='glyphicon glyphicon-thumbs-up'></span> Like </button>
            <span>@Model.LikeCount</span>
        }
    }
    else
    {
        using (Html.BeginForm(actionName: "Delete", controllerName: "PostLikes", method: FormMethod.Post, routeValues: new { PostId = Model.PostId, UserId = (string)ViewBag.CurrentUser.Item1 }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button type="submit" style="color: blue"><span class='glyphicon glyphicon-thumbs-up'></span> Like </button>
            <span>@Model.LikeCount</span>
        }
    }

    @if (Model.LikeCount > 0) 
    { 
    <div>
        <span style="display: inline-block; font-weight: bold; font-size: 90%">Liked By:</span>
        @foreach (var pl in Model.PostLikes)
        {
            <span style="display: inline-block; font-size: 90%">@pl.User.Email</span>
        }
    </div>
    }
</div>

<!--This is the comments section-->
<br />

@foreach (var comm in Model.Comments)
{
    @Html.Partial("CommentInfo", comm);
}


<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel">
                @using (Html.BeginForm(actionName: "New", controllerName: "Comments"))
                {
                    <div class="panel-body">
                        @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@

                        @Html.Hidden("PostId", Model.PostId)
                        @Html.Label("Content", "Enter your comment")
                        <br />
                        @Html.TextArea("Content", "", new { @class = "form-control" })
                        @*@Html.ValidationMessage("Content", "Mesaj", new { @class = "text-danger" })*@
                        <br />
                        <button class="btn btn-success " type="submit">Add comment</button>
                    </div>
                }
                <br />
                <br />
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>







