@model OnlyFriends.Models.Post

@{
    ViewBag.Title = "Show";
}

<br />
@Html.ActionLink("Back to posts", "Index", "Posts", new { @class = "btn btn-warning block" })
@Html.ActionLink("Add post", "new", "Posts", new { @class = "btn btn-info block" })
<br />
<div class="panel panel-default">

    @Html.Partial("PostInfo", Model)
    @if (ViewBag.CurrentUser.Item2)
    {
        <div class="panel-footer">

            <a class="btn btn-success pull-left" href="/Posts/Edit/@Model.PostId">Edit post</a>
            @using (Html.BeginForm(actionName: "Delete", controllerName: "Posts", method: FormMethod.Post, routeValues: new { id = Model.PostId }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger pull-right" type="submit">Delete post</button>
            }

            <div class="clearfix"></div>
        </div>
    }

    <!--Like section-->
    @if (!ViewBag.IsLikedByCurrentUser)
    {
        using (Html.BeginForm(actionName: "New", controllerName: "PostLikes", method: FormMethod.Post))
        {
            @Html.Hidden("PostId", Model.PostId)
            @Html.Hidden("UserId", (string)ViewBag.CurrentUser.Item1)
            <button type="submit"><span class='glyphicon glyphicon-thumbs-up'></span> Like </button>
            <span>@Model.LikeCount</span>
        }
    }
    else
    {
        using (Html.BeginForm(actionName: "Delete", controllerName: "PostLikes", method: FormMethod.Post, routeValues: new { PostId = Model.PostId, UserId = (string)ViewBag.CurrentUser.Item1 }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button type="submit" style="color: blue"><span class='glyphicon glyphicon-thumbs-up'></span> Like </button>
            <span>@Model.LikeCount</span>
        }
    }
    @*@foreach (var em in ViewBag.UsersWhoLiked)
        {
          <span>@em</span>
        }*@
</div>

<!--This is the comments section-->
<br />

@foreach (var comm in Model.Comments)
{
    @Html.Partial("CommentInfo", comm);
}


<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel">
                <form method="post" action="/Comments/New">
                    <div class="panel-body">
                        <input type="hidden" name="PostId" value="@Model.PostId" />
                        <label>Enter your comment</label>
                        <br />
                        <textarea class="form-control" name="Content"></textarea>
                        <br />
                        <button class="btn btn-success " type="submit">Add comment</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>







