@model OnlyFriends.Models.Comment
@{
    ViewBag.Title = "Edit";
}

<h1>@TempData["message"]</h1>
<h2>Edit comment</h2>
@using (Html.BeginForm(actionName: "Edit", controllerName: "Comments", method: FormMethod.Post))
{
    @Html.ValidationSummary();
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.Label("Content", "Content:")
    <br />
    @Html.TextArea("Content", Model.Content)
    <br />
    @Html.HiddenFor(m => m.Date)
    <button class="btn btn-success" type="submit">Edit</button>
}

